<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    ID: {{ dog.pk }}<br>
    Name: {{ dog.name }}<br>
    Color: {{ dog.color }}<br>
</body>
</html>