<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Dog List</title>
</head>
<body>
    <table>
        <th>ID</th>
        <th>NAME</th>
        <th>COLOR</th>
        {% for dog in dogs %}
            <tr>
                <td>{{ dog.pk }}</td>
                <td>{{ dog.name }}</td>
                <td><a href="{% url 'dog_profile' dog.pk %}">Profile</a></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>