{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Top Secret</title>
</head>
<body>
Welcome to Django!
<br>
<img src="{% static 'images/mi.jpg' %}" height="300px" width="450px">
<br>
<a href="{% url 'dogs' %}">Retrieve dogs...</a>
</body>
</html>